*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    background: yellow;
    height: 70px;
}
.ancho{
    width: 80%;
    height: 70px;
    background: red;
    margin: auto;
}
.logo{
    width: 30%;
    height: 70px;
    background: blue;
    float: left;
    padding-top: 10px;
    box-sizing: border-box;
}
nav{
    width: 70%;
    height: 70px;
    background: olive;
    float: left;
    text-align: right;
}
.logo p a{
    color: #fff;
    font-size: 40px;    
    text-decoration: none; 
}
nav ul li a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;  

}